@inherits LayoutComponentBase


@inject NavigationManager Nav

<PageTitle>Visual Approvals</PageTitle>
<title>Visual Approvals</title>
<link rel="shortcut icon" href="https://visualapprovals.com.au/hubfs/Visual%20Approvals%20copy.webp">
<meta name="description" content="Visual Approvals provides cutting-edge approval software solutions to the building surveying and building certification sector."> 
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<meta property="og:description" content="Visual Approvals provides cutting-edge approval software solutions to the building surveying and building certification sector.">
<meta property="og:title" content="Visual Approvals">
<meta name="twitter:description" content="Visual Approvals provides cutting-edge approval software solutions to the building surveying and building certification sector.">
<meta name="twitter:title" content="Visual Approvals">
<link rel="stylesheet" href="https://visualapprovals.com.au/hs-fs/hub/40008428/hub_generated/template_assets/127677424563/1692166193145/Visual_Approval_Theme_2023/css/main.min.css">
<link rel="stylesheet" href="https://visualapprovals.com.au/hs-fs/hub/40008428/hub_generated/template_assets/127677334804/1692186805282/Visual_Approval_Theme_2023/css/theme-overrides.min.css">
<link rel="stylesheet" href="https://visualapprovals.com.au/hs-fs/hub/40008428/hub_generated/module_assets/127677767790/1692763130275/module_127677767790_Header_Cm.min.css">
<link rel="stylesheet" href="https://visualapprovals.com.au/hs-fs/hub/40008428/hub_generated/module_assets/127677334818/1692162078058/module_127677334818_Hero_Banner.min.css">
<style>


    .dnd_area-module-1 {
        background-color: rgba(255, 231, 198,1.0);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        position: relative;
    }
</style>

<link rel="stylesheet" href="https://visualapprovals.com.au/hs-fs/hub/40008428/hub_generated/module_assets/127677334805/1690805423779/module_127677334805_Before_After_Card.min.css">

<style>


    .dnd_area-module-2 {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        position: relative;
    }
</style>

<link rel="stylesheet" href="https://visualapprovals.com.au/hs-fs/hub/40008428/hub_generated/module_assets/127677767795/1692270636390/module_127677767795_Logos.min.css">

<style>


    .dnd_area-module-3 {
        background-color: rgba(255, 255, 255,1.0);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        position: relative;
    }
</style>

<link rel="stylesheet" href="https://visualapprovals.com.au/hs-fs/hub/40008428/hub_generated/module_assets/127677767789/1692338110988/module_127677767789_Features_Tabber.min.css">

<style>


    .dnd_area-module-4 {
        background-color: rgba(255, 255, 255,1.0);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        position: relative;
    }

    .dnd_area-module-4 {
        z-index: 1;
    }

        .dnd_area-module-4:after {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            content: '';
            background-image: linear-gradient(6.92deg, #FFE7C6 16.99%, rgba(255, 231, 198, 0) 55.51%);
            ;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.5;
        }
</style>

<link rel="stylesheet" href="https://visualapprovals.com.au/hs-fs/hub/40008428/hub_generated/module_assets/127677767811/1692161742227/module_127677767811_Testimonials.min.css">

<style>


    .dnd_area-module-5 {
        background-color: rgba(255, 144, 9,1.0);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        position: relative;
    }
</style>

<link rel="stylesheet" href="https://visualapprovals.com.au/hs-fs/hub/40008428/hub_generated/module_assets/127677767799/1690859929845/module_127677767799_Platform_Cm.min.css">

<style>


    .dnd_area-module-6 {
        background-color: rgba(255, 255, 255,1.0);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        position: relative;
    }
</style>

<link rel="stylesheet" href="https://visualapprovals.com.au/hs-fs/hub/40008428/hub_generated/module_assets/127677767780/1690867831099/module_127677767780_Demo_CTA.min.css">

<style>


    .dnd_area-module-7 {
        background-color: rgba(255, 255, 255,1.0);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        position: relative;
    }
</style>

<link rel="stylesheet" href="https://visualapprovals.com.au/hs-fs/hub/40008428/hub_generated/module_assets/127677334817/1690864452907/module_127677334817_Footer_Cm.min.css">

<style>


    .module_169086434973916 {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        position: relative;
    }
</style>




<link rel="canonical" href="https://visualapprovals.com.au">

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:url" content="https://visualapprovals.com.au">
<meta name="twitter:card" content="summary">
<meta http-equiv="content-language" content="en-au">
 
    <div class="p-0">
    
        <div class="m-2">
            @Body
        </div>
    
    </div>
 


<BlazoredToasts Position="ToastPosition.TopRight"
                IconType="IconType.FontAwesome"
                ShowProgressBar="true"
                SuccessClass="success-toast-override"
                SuccessIcon="fas fa-thumbs-up"
                ErrorIcon="fas fa-bug"
                Timeout="15" />

@code {

}
